{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ],
      }
    ],
    [
      "inline-import",
      {
        "extensions": [
          ".css",
          ".js"
        ]
      }
    ]
  ]
}